@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

:root {
  --bs-primary: #2d3e71;
  --bs-primary-rgb: 59, 178, 77;
  --bs-gray-dark: #4d4d4d;
  --bs-dark-blue: #2d3e71;
  --bs-dark-blue-rgb: 51, 60, 108;
  --bs-yellow: #fabc4d;
  --bs-yellow-rgb: 250, 188, 77;
}

.text-gray-dark {
  color: var(--bs-gray-dark) !important;
}
.btn-primary {
  background: var(--bs-primary) !important;
  border: none;
  font-weight: bold;
}
.btn-primary:hover {
  color: #4d4d4d;
}
.body,
.html {
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
header {
  background: #333c6c;
}
.header-item {
  display: flex;
  margin: 20px;
}
.header-item i {
  color: #fabc4d;
}
.header-wrapper {
  display: flex;
  justify-content: center;
  color: white;
}
.header-wrapper select {
  background-color: #fabc4d;
  color: #333c6c;
}
.header-item select option {
  padding: 20px;
}
.nav-link {
  text-decoration: none !important;
}
nav .nav-link {
  color: var(--bs-dark-blue) !important;
}
.navbar .megamenu {
  padding: 1rem;
}
.has-megamenu:hover .megamenu {
  display: block;
}
/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .has-megamenu {
    position: static !important;
  }
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;

    margin-top: 0;
  }
}
/* ============ desktop view .end// ============ */

/* ============ mobile view ============ */
@media (max-width: 991px) {
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}
.hero-section {
  /* width: 100%; */
  /* height: 500px; */
  padding: 120px 0;
  background: url("images/back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-wrapper h1 {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -0.06em;
}
footer {
  background: var(--bs-dark-blue);
}
footer a {
  color: var(--bs-yellow) !important;
}
.footer-logo {
  max-width: 250px;
}
.footer-logo img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.socials a i {
  font-size: 25px;
  color: var(--bs-white);
  margin-right: 10px;
}

.footer-column-wrapper > * {
  margin: 30px 0;
}

.footer-header {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid;
}
.footer-header h4 {
  font-size: 26px;
  margin-left: 5px;
}

.nav-link:hover {
  text-decoration: underline !important;
}
.section-graphic img {
  width: 510px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.section-heading {
  font-size: 38px;
  font-weight: 700;
}
.section-c-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-title {
  font-size: 38px;
  font-weight: 700;
  color: #4d4d4d;
}
.tech-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
.tech-element {
  /* background-color: var(--bs-yellow);
  color: #333c6c;
  position: relative;
  border-radius: 10px; */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.tech-element > * {
  opacity: 1;
  color: white;
  margin: 10px 0;
}
.tech-element h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.tech-element span {
  font-size: 14px;
  font-weight: 400;
}
.tech-element p {
  margin-top: 15px;
  font-size: 14px;
}
.tech-image {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 50px;
}
.row-wrapper > * {
  margin: 80px 0;
}

.clients-image {
  width: 120px !important;
}
.person-image-wrapper {
  width: 100%;
}
.person-image {
  border-radius: 50%;
  width: 50px !important;
  /* height: 50px; */
}

#request-callback {
  background-color: var(--bs-gray-dark);
  color: white;
  margin-bottom: 50px;
}
.form-row-wrapper {
  padding: 50px 0;
}
.form-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.form-text {
  color: white;
  height: fit-content;
}
.input-element {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px 10px;
}

.input-element label {
  margin-bottom: 10px;
  font-weight: bold;
}
.input-element input,
.input-element select,
.input-element select option {
  padding: 14px 20px;
}

.callback-submit {
  padding: 15px 20px;
  background-color: var(--bs-primary);
  color: var(--bs-yellow);
  border: none;
  font-weight: bold;
}
/*CONTACT US*/
.location-wrapper {
  background-color: #2d3e71;
  color: var(--bs-yellow);
}
.location {
  padding: 20px;
}
.active {
  background-color: var(--bs-yellow);
  color: var(--bs-dark-blue);
}
.location-wrapper {
  width: 100%;
  display: flex;
}

.underline-title {
  text-align: center;
  line-height: 60px;
}
.underline-title::after {
  /* margin-top: 20px; */
  content: "";
  display: block;
  margin: auto;
  width: 35px;
  height: 5px;
  background-color: var(--bs-primary);
  border-radius: 3px;
}

.info-wrapper {
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 400px;
  min-height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-wrapper > * {
  margin: 0;
}
.details {
  background: var(--bs-primary);
  color: white;
  height: 100%;
  padding: 20px;
}
.details-item {
  list-style: none;
}
.details-item a {
  color: white;
  /* text-decoration: none; */
}
.details-item i {
  font-size: 24px;
  /* color: var(--bs-dark-blue); */
  margin-right: 10px;
}
.our-contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.persons {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-person {
  margin: 30px 0;
  display: flex;
  align-items: center;
}

.person-details {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.person-details p {
  margin-bottom: 0;
}
.p-head h3 {
  margin-bottom: 0px;
}
