@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

:root {
  --bs-primary: #3bb24d;
  --bs-primary-rgb: 59, 178, 77;
  --bs-gray-dark: #4d4d4d;
  --bs-dark-blue: #333c6c;
  --bs-dark-blue-rgb: 51, 60, 108;
  --bs-yellow: #fabc4d;
  --bs-yellow-rgb: 250, 188, 77;
}

.text-gray-dark {
  color: var(--bs-gray-dark) !important;
}
.btn-primary {
  background: var(--bs-primary) !important;
  border: none;
  font-weight: bold;
}
.btn-primary:hover {
  color: #4d4d4d;
}
.body,
.html {
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
.hero-section {
  /* width: 100%; */
  /* height: 500px; */
  padding: 120px 0;
  background: url("images/home.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-content {
  /* color: #4d4d4d; */
}
.hero-wrapper h1 {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -0.06em;
}
footer {
  background: #3bb24d;
}

.footer-logo {
  max-width: 250px;
}
.footer-logo img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.socials a i {
  font-size: 25px;
  color: var(--bs-white);
  margin-right: 10px;
}

.footer-column-wrapper > * {
  margin: 30px 0;
}

.footer-header {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid;
}
.footer-header h4 {
  font-size: 26px;
  margin-left: 5px;
}

.nav-link {
  color: var(--bs-dark-blue) !important;
  text-decoration: underline;
}
.section-graphic img {
  width: 510px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.section-heading {
  font-size: 38px;
  font-weight: 700;
}
.section-c-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-title {
  font-size: 38px;
  font-weight: 700;
  color: #4d4d4d;
}
.tech-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
.tech-element {
  background-color: var(--bs-yellow);
  color: black;
  position: relative;
  border-radius: 10px;
}
.tech-element p {
  margin-top: 15px;
  font-size: 14px;
}
.tech-image {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 50px;
}
.row-wrapper > * {
  margin: 80px 0;
}
